<!DOCTYPE html>
<html>
  <head>
    <title>Hairbysuuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="hero-overlay"></div>


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
            <%= link_to root_path, class: "navbar-title" do %>
              <h1>HOME</h1>
            <% end %>
            </li>
            <li class="nav-item">
              <%= link_to prijslijst_path, class: "navbar-title" do %>
                <h1>PRIJSTLIJST</h1>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to services_path, class: "navbar-title" do %>
                <h1>SERVICES</h1>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to about_path, class: "navbar-title" do %>
                <h1>ABOUT</h1>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>

      <div class="page-container">
        <%= yield %>
      </div>
  </body>
</html>
