<!DOCTYPE html>
<html>
  <head>
    <title>Hairbysuuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

        <% if current_page?(root_path) %>
          <div class="hero-overlay">
             <% else %>
          <div class="hero-overlay-white">
         <% end %>

        <% if current_page?(root_path) %>
                  <div class="nav-bar-white">
                      <%= link_to root_path, class: "navbar-title" do %>
                        <p>Home</p>
                      <% end %>
                        <%= link_to prijzen_path, class: "navbar-title" do %>
                          <p>Prijzen</p>
                        <% end %>
                  </div>
             <% else %>
                  <div class="nav-bar-black">
                      <%= link_to root_path, class: "navbar-title" do %>
                        <p>Terug</p>
                      <% end %>
                        <%= link_to prijzen_path, class: "navbar-title" do %>
                          <p>Prijzen</p>
                        <% end %>
                  </div>
            <% end %>


        <div class="page-container">
          <%= yield %>
        </div>

      </div>
    </div>


  </body>
</html>
