<!DOCTYPE html>
<html>
  <head>
    <title>Hair by Suuz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

        <% if current_page?(root_path) %>
                  <div class="nav-bar-white">
                    <%= link_to prijzen_path, class: "navbar-title" do %>
                          <p>Prijzen</p>
                        <% end %>
                      <%= link_to contact_path, class: "navbar-title" do %>
                        <p>Afpraak</p>
                    <% end %>
                  </div>
             <% else %>
                  <div class="nav-bar-black">
                      <%= link_to root_path, class: "navbar-title" do %>
                        <p>terug</p>
                      <% end %>
                        <%= link_to prijzen_path, class: "navbar-title" do %>
                          <p>Prijzen</p>
                        <% end %>
                  </div>
              <% end %>
      <div class="page-container">
        <%= yield %>
          <% if current_page?(contact_path) %>
            <footer class="footer">
              © 2022 - DifferentEye
            </div>
          </footer>
          <% end %>
      </div>
  </body>
</html>
